* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container>header {
    height: 70px;
    background-color: #eee;
}

.container>main {
    height: calc(100% - 70px);
    background-color: #efc;
    overflow: hidden;
}

.squres {
    left: 50%;
    height: 500px;
    margin: 30px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    transform: translateX(-50%);
}

.squres .squre {
    width: 50px;
    margin: 10px;
    border: 1px solid;
    position: absolute;
    transition: left 300ms;
}

.squres .squre .text {
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.squres .squre .text.top {
    top: -30px;
    bottom: auto;
}